## Data Cleaning and Delete row

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("train.csv")
# df.head()

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
# df.head()

In [8]:
# df.info()

In [10]:
# df.isnull().sum()

In [ ]:
plt.figure(figsize=(25,25))
sns.heatmap(df.isnull())

In [13]:
null_var = df.isnull().sum()/df.shape[0] *100
# null_var

In [14]:
drop_columns = null_var[null_var > 17].keys()
# drop_columns

In [15]:
df2_drop_clm = df.drop(columns=drop_columns)
# df2_drop_clm.shape

In [16]:
# sns.heatmap(df2_drop_clm.isnull())

In [17]:
df3_drop_rows = df2_drop_clm.dropna()

In [18]:
df3_drop_rows.shape

(1338, 75)

In [ ]:
plt.figure(figsize=(25,25))
sns.heatmap(df3_drop_rows.isnull())

In [19]:
df3_drop_rows.isnull().sum().sum()

0

In [ ]:
df3_drop_rows.head()

In [20]:
df3_drop_rows.select_dtypes(include=['int64','float64']).columns

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [ ]:
sns.distplot(df['MSSubClass'])

In [ ]:
sns.distplot(df['MSSubClass'])

In [ ]:
sns.distplot(df['MSSubClass'])
sns.distplot(df3_drop_rows['MSSubClass'])

In [ ]:
num_var = ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice']
plt.figure(figsize=(25,25))       
for i,var in enumerate(num_var):
    plt.subplot(9,4,i+1)
    sns.distplot(df[var], bins=20)
    sns.distplot(df3_drop_rows[var], bins=20)

In [33]:
df3_drop_rows.select_dtypes(include=['object']).columns

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond',
       'PavedDrive', 'SaleType', 'SaleCondition'],
      dtype='object')

In [34]:
pd.concat([df['MSZoning'].value_counts()/df.shape[0] * 100, 
          df3_drop_rows['MSZoning'].value_counts()/df3_drop_rows.shape[0] * 100], axis=1,
         keys=['MSZoning_org', 'MSZoning_clean'])

         MSZoning_org  MSZoning_clean
RL          78.835616       79.671151
RM          14.931507       14.275037
FV           4.452055        4.633782
RH           1.095890        0.822123
C (all)      0.684932        0.597907

In [35]:
def cat_var_dist(var):
    return pd.concat([df[var].value_counts()/df.shape[0] * 100, 
          df3_drop_rows[var].value_counts()/df3_drop_rows.shape[0] * 100], axis=1,
         keys=[var+'_org', var+'clean'])

In [36]:
cat_var_dist('MSZoning')

         MSZoning_org  MSZoningclean
RL          78.835616      79.671151
RM          14.931507      14.275037
FV           4.452055       4.633782
RH           1.095890       0.822123
C (all)      0.684932       0.597907